body {
  margin: 0;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}
.imdo {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#atticusStand {
  background-image: url('img/atticusStand.jpeg');
  min-height: 100vh;
}
#scout {
  background-image: url('img/scout.png');
  min-height: 100vh;
}
#jem {
  background-image: url('img/jem.png');
  min-height: 100vh;
}
#alexandra {
  background-image: url('img/alexandra.jpeg');
  min-height: 100vh;
}
#ewell {
  background-image: url('img/ewell.jpg');
  min-height: 100vh;
}
#cunningham {
  background-image: url('img/cunningham.jpg');
  min-height: 100vh;
}
#prejudice {
  background-image: url('img/prejudice.png');
  min-height: 100vh;
}
#ender {
  background-image: url('img/ender.jpg');
  min-height: 100vh;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.textCaption {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 18px;
}

.depthText {
  text-align: center;
  padding: 5%;
}
.charCaption {
  color: white;
  font-size: 30px;
  padding: 18px;
  letter-spacing: 10px;
}
#footerText {
  text-align: center;

  height: 5%;
}
